extends layout

block content
    div(class="container")
        div(id="editor")
        div(class="messages")
            ol
                li you should be using:
                    ul(class="whiteList")
                li you should not be using:
                    ul(class="blackList")
                li(class="structure") you should have the correct structure