body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

li {
	margin: 5px 0;
}

#editor {
	float: left;
	margin-left: 80px;
	width: 400px;
	height: 400px;
}

.check {
	margin-top: 10px;
	margin-left: 400px;
}

.messages{
	float: right;
	margin-right: 80px;
	width: 400px;
	height: 400px;
	border: solid 1px;
}

.shouldNotHave, .whiteList, .structure {
	color: red;
}

.blackList, .shouldHave{
	color: green;
}

