body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#editor {
	margin: 50px 0 0 50px;
	width: 500px;
	height: 500px;
}

.check {
	margin-top: 10px;
	margin-left: 450px;
}